td {
    border: 5px double blue;
    text-align: center;
    font-size: 80px;
    border-radius: 100px;
  }
  
  td:hover {
    cursor: pointer;
    background: radial-gradient(lightblue, blue);
  }
  
  table {
    border: 5px double green;
    background: radial-gradient(violet, blue);
    border-radius: 75px;
  }

  #Tic{
    width: fit-content;
    height: fit-content;
    font-size: 30px;
    text-align: center;
    color: purple    ;
    border: 5pt solid purple;
    border-spacing: 0in;
    background: radial-gradient(violet, blue  );
    border-radius: 100px;
  }
  h1{
    border: 1pt solid black
  }